# Apache 2.4 example
# Required modules:
#   a2enmod proxy proxy_http headers rewrite ssl

<VirtualHost *:80>
    ServerName helpdesk.company.com
    ProxyPreserveHost On
    RequestHeader set X-Forwarded-Proto "http"
    ProxyPass / http://127.0.0.1:3000/
    ProxyPassReverse / http://127.0.0.1:3000/
</VirtualHost>

<VirtualHost *:80>
    ServerName admin.company.com
    ProxyPreserveHost On
    RequestHeader set X-Forwarded-Proto "http"
    ProxyPass / http://127.0.0.1:3001/
    ProxyPassReverse / http://127.0.0.1:3001/
</VirtualHost>

# HTTPS example
# <VirtualHost *:443>
#     ServerName helpdesk.company.com
#     SSLEngine on
#     SSLCertificateFile /path/to/fullchain.pem
#     SSLCertificateKeyFile /path/to/privkey.pem
#     ProxyPreserveHost On
#     RequestHeader set X-Forwarded-Proto "https"
#     ProxyPass / http://127.0.0.1:3000/
#     ProxyPassReverse / http://127.0.0.1:3000/
# </VirtualHost>
#
# <VirtualHost *:443>
#     ServerName admin.company.com
#     SSLEngine on
#     SSLCertificateFile /path/to/fullchain.pem
#     SSLCertificateKeyFile /path/to/privkey.pem
#     ProxyPreserveHost On
#     RequestHeader set X-Forwarded-Proto "https"
#     ProxyPass / http://127.0.0.1:3001/
#     ProxyPassReverse / http://127.0.0.1:3001/
# </VirtualHost>
